https://github.com/boazmohar/animateimages.git
bson==0.5.7
colormap==1.0.1
colorcet==0.9.1
cvxopt==1.2.2
easydev==0.9.36
future==0.17.1
gspread==0.6.2
https://github.com/dmishin/tsp-solver/archive/v0.21.zip
ipywidgets==7.2.0
ipython==6.3.1
networkx==2.1
neurom==1.4.5
numpy==1.15.4
numpy_groupies==0.9.7
oauth2client==4.1.2
pandas==0.22.0
pymongo==3.7.2
plotly==3.4.0
PICOS==1.1.3.post7
PySAL==1.14.3
pySparkUtils==0.2.5
pywavesurfer=0.0.2
scikit-learn==0.20.0
requests==2.20.0
scikit-image==0.14.1
scikits.bootstrap==1.0.0
SimpleITK==1.1.0
sympy==1.1.1
tables==3.4.2
xlsxwriter==1.1.2
xmltodict==0.11.0
