bolt-python==0.7.1
Bottleneck==1.2.1
bson==0.4.7
colormap==1.0.1
cvxopt==1.1.9
easydev==0.9.34
future==0.16.0
matplotlib==2.0.2
neurom==1.4.2
PICOS==1.1.2
plotly==1.12.9
PySAL==1.13.0
pymongo==3.4.0
SimpleITK>=0.10.0
statsmodels==0.6.1
thunder-python==1.4.2
tifffile==0.11.1
tsp_solver==0.1
scikit-image==0.12.3
scikit-learn==0.18.1
sympy==1.0
scikits.bootstrap==0.3.2
tables==3.4.2
xmltodict==0.11.0
pySparkUtils==0.1.5
